@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next::after, .swiper-button-prev::after{
  display: none;
}
.swiper-button-next, .swiper-button-prev{
  /* background-color: blueviolet; */
  padding-top: 30px;
  padding-bottom: 30px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 80%;
}
.swiper-pagination-bullet {
  opacity: 60% !important;
  background-color: #ffffff !important;
}

.swiper-pagination-bullet-active {
  opacity: 100% !important;
  background-color: #ffffff !important;
}

.swiper-button-disabled{
  /* opacity: 10% !important; */
  display: none !important;   
}

@media (max-width: 600px) {
  .swiper-button-next, .swiper-button-prev {
    display: none !important;
  }
}

